#search-container {
  border: 1px solid black;
  margin: 5px;
}

#selected-tag-container {
  border: 1px solid blue;
}

.original-tag-container {
  border: 1px solid green;
}

#selected-urls-container {
  border: 1px solid green;
  margin: 5px;
}

#not-selected-urls-container {
  border: 1px solid red;
  margin: 5px;
}

.selected-tag {
  border: 1px solid red;
  display: inline-block;
  margin: 5px;
  padding: 5px;
}

li {
  padding: 5px;
}

a, a:visited {
  color: blue;
}

a:hover {
  color: darkblue;
}
