#search-container {
  border: 1px solid black;
}

#selected-tag-container {
  border: 1px solid blue;
}

#original-tag-container {
  border: 1px solid green;
}

.selected-tag {
  border: 1px solid red;
  display: inline-block;
  margin: 5px;
  padding: 5px;
}
